@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
header{
    padding: 2%;
    margin-bottom: 5vh;
}
#input{
  font-size: 2em;
  outline: none;
  border-top:10px;
  border-left: 0;
  border-right: 0;
}
#buttons{
margin:5vh;
}
li{
    list-style: decimal;
    font-size: 2em;
}
@media only screen and (max-width: 768px){
    header{
        padding: 2%;
        margin-bottom: 5vh;
    }
    #input{
      font-size: 1.5em;
      width: 80%;
    }
    #buttons{
    margin:4vh;
    }
    li{
        list-style: decimal;
        font-size: 1.3em;
    }
}